<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Charge</title>
  <link rel="stylesheet" href="/public/common.css">
  <link rel="stylesheet" href="/public/charge.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="search js-search-wrapper">
        <input class="js-search-input" type="text">
        <button class="btn search-btn">搜索</button>
      </div>
    </header>
    <main>
      <h2>This is Charge Page</h2>
      <table>
        <thead>
        <tr>
          <th>项目</th>
          <th>日期时间</th>
          <th>详述</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </main>
  </div>
  <script type="text/template" id="todoList">
    {{ _.each(content, function (todo) { }}
    <tr>
      <td class="title">{{= todo.title }}</td>
      <td class="date-time">{{= todo.datetime }}</td>
      <td class="detail">{{= todo.detail }}</td>
    </tr>
    {{ }); }}
  </script>
  <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="/public/common.js"></script>
<script type="text/javascript" src="/public/charge.js"></script>
</body>
</html>