.search {
  input {
    display: inline-block;
    width: 200px;
    padding: 15px 0 15px 20px;
    border-radius: 4px;
    color: #999;
    border: none;
    outline: none;
  }

  .search-btn {
    padding: 15px;
    background: #009926;
    border-radius: 4px;
    text-align: center;
    border: none;
    outline: none;
  }
}